/* your styles go here */

/* this is to hide extra bulletins  */
#my-list li:nth-child(n+4) {
    display: none;
  }
  

#append-things-here > ul {
    list-style: none;
    font-size: 20px;
}




@media screen and (max-width: 460px) {
.shrink-by-percentage-on-mobile {
    font-size: 90%;
    }
}

@media screen and (max-width: 420px) {
    .shrink-by-percentage-on-mobile {
        font-size: 80%;
        }
    }